 body {
            margin: 0;
            display: flex;
            flex-direction: column;
            background-color: #a8a8a8;
            color: #00aaff00;
            font-size: 14px;
            
          
        }
        
       
        .area-com-imagem {/* IMAGEM NO CENTRO*/
      position: absolute;
      top: 70px;
      left: 250px;
      right: 0;
      bottom: 0;
   
      
      overflow: hidden;
      
      background-color: #333; /* só pra destacar quando sobrar espaço */
    }

    .area-com-imagem img {
      width: 100%;
      height: 100%;
      object-fit: fill;
     
      display: block;
    }
       
header {
  position: relative;
  background-color: #333;
  color: #333;
  padding: 30px 0;
  
  font-size: 26px;
  text-align: left;

  overflow: hidden;


}




/* Previne seleção/arrasto */
* {
  -webkit-user-drag: none;
  user-select: none;
}


        a, img, div, p, span, button {
            -webkit-user-drag: none;
            user-select: none;
        }

        .sidebar {
            position: fixed;
            top: 185px;
            left: 0;
            height: calc(100vh - 185px);
            border: 5px solid #1b1b1b;
            padding: 15px;
            width: 250px;
            overflow-y: auto;
            background: #0e0e0e;
            color: #000000;
            
        }
        
        .sidebar * {
            user-select: none;
            -webkit-user-drag: none;
            pointer-events: auto;
        }

        .sidebar::-webkit-scrollbar {
            display: none;
        }

        .sidebar {
            -ms-overflow-style: none;
        }


 

     
        summary {
            cursor: pointer;
            color: #c7c6c6;
            font-weight: bold;
            font-size: 13px;
            border-radius: 3px;
            padding: 3px 5px;
            
        }

        .file {
            display: block;
            margin-left: 25px;
            color: #929292;
            
            text-decoration: none;
        }

        .file:hover {
            color: #ffffff;
            outline: 1px solid #ffe600;
          
            
        }
        
       

        .file i {
           
            color: #ff0202 !important;
            border-radius: 2%;
            padding: -1px;
        }

        .folder {
          
            color: #c7c6c6;
            font-weight: bold;
            font-size: 13px;
            border-radius: 3px;
            padding: 3px 5px;
        }

        .folder:hover {
           outline: 1px solid #ffe600;
            position: relative;
        }
        
       

        .folder .folder {
            background: #242424;
            
            padding-left: 8px;
        }
        
        .folder .folder .folder {
            background:#2c2c2c;
            
            padding-left: 8px;
        }

        .icon-outline {
            color:#ffc506;
            background-color: transparent;
            -webkit-text-stroke: 0.0px #000000;
            font-size: 17px;
            
        }

        .fa-folder-open {
            color: #2c7df8 !important;
            
            
            
        }

   #search {/* PESQUISA DE ARQUIVOS*/
  width: 400%;
  max-width: 220px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fdba00;
  background: transparent;
  border: 2px solid #fdba00;
  border-radius: 12px;
  outline: none;
  font-family: 'Courier New', monospace;
  caret-color: #fdba00;
}

#search::placeholder {
  color: #fdba00;
  font-weight: normal;
 
}



#search:focus {
  background-color: rgba(27, 27, 27, 0.952);
 
 
}


        .file-image i {
           
            color: #ff00dd !important;
           
            
           
            
        }
        
        .file-code {
            display: block;
            
            color: #ff0000!important;
           
            margin-left: 25px;
        }

        
        .file-code:hover {
            color: #00ff00!important;
     
            border: 1px solid #ffe600;
            text-decoration: none;
            position: relative;
        }
        
    
        .file-code i {
           
            color: #00ff00 !important;
            
            border-radius: 2%;
            padding: 1px;
        }
        
        .file-image {
            display: block;
            margin-left: 15px;
            color:#ff00b3;
            
            text-decoration: none;
            margin-left: 25px;
        }
        .file-image:hover {
            
          
            border: 1px solid #ffe600;
          
        }
        
        
        .highlight {
            background-color: rgba(#000, 0.2);
            
        }
        
        
    
.sidebar2 {
  position: fixed;
  top: 70px;
  left: 0;
  width: 250px;          /* Largura fixa */
  height: 200px;         /* Altura fixa, ajuste conforme necessário */
  padding: 15px;
  color: #ffd000;
  overflow-y: auto;
  background:#1b1b1b;
 

  border-top: 2px solid #000;
  z-index: 9;

}
        .sidebar2 * {
            user-select: none;
            -webkit-user-drag: none;
            pointer-events: auto;
        }

        .sidebar2::-webkit-scrollbar {
            display: none;
        }

        .sidebar2 {
            -ms-overflow-style: none;
        }
.botoes-container a {
    display: flex;
    
    flex-direction: column;  /* Ícone em cima, texto embaixo */
    justify-content: center;
    align-items: center;
    background: #242424;
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
    color: #fdba00;
    outline: #fdba00 solid 3px;
    font-size: 12px; /* tamanho do texto */
     width: 70px;           /* largura fixa opcional */
    height: 60px;
}

.botoes-container a:hover {
    background: #292929;
    color: #e20f0f;
    outline: #fdba00 solid 3px;
}


        
    


.button-container {
    position: fixed;
    top: 2px;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
   
    z-index: 999;
  }




 
  .top-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
    color: #333;
    margin-right: 5px;
    
     width: 50px;           /* largura fixa opcional */
    height: 40px;
}

.top-btn:hover {
    background: #ddd;
    outline: #007bff solid 3px;
    color: #007bff;
}

  /* PESQUISA DE CI */
#ciInput {
    padding: 8px 0px;
    font-size: 14px;
    margin-right: 95px;
    border: 1px solid #000;
    border-radius: 15px 0px 0px 15px;
    color: #000;
    width: 160px;
  }




 .close-btnn {
    position: absolute;
    top: 0px;
    right: 182px;
    font-size: 17px;
    color: #ff0000;
    
    border: #000 solid 1px;
    border-radius: 0px 15px 15px 0px;
   background: #f6fff4;
    cursor: pointer;
    padding: 5px 10px;
    
  }

  .close-btnn:hover {
   background-color: #ff0202;
   color: #ffffff;
  }
     /* Resetando margens e paddings */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


/* Modal CONFIGURAÇOES*/
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  z-index: 999999999;
  visibility: hidden;
 
 
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

/* MODAL CONFIG */
.modal-content {
  background-color:#ffffff;
  width: 100%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 10px;
  position: relative;
  color: #000;
}






/* Perfil */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #00ccff;
  margin-bottom: -10px;
}

.profile-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
  text-align: center;
}

/* Botões PERFIL */
.action-buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}

.action-buttons button {
  padding: 12px 25px;
  font-size: 1.1rem;
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  
  cursor: pointer;
  
}

.action-buttons button:hover {
  background-color: rgba(0, 255, 255, 0.1);
 
}

/* Botão CONFIGURAÇAO */
#openModalBtn {
  position: fixed;
  top: 2px;
  right: 120px;
  color: #000000;
  z-index: 999;
  pointer-events: auto;
  background: #ffffff;
  outline: 1px solid #000;
  border-radius:10px ;
  padding: 0;
  margin: 0;
   width: 50px;
    height: 40px; 
}
#openModalBtn:hover {
  background: #ffffff;
    color: #007bff; /* cor ao passar o mouse */
}




/* Itens de usuário */
.user-item {
  background-color: #4d4d4d;
  padding: 15px;
  border-radius: 8px;
  
  
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
  border: 3px solid #000;
}


.user-item label {
  font-size: 1.3rem;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  margin-right: 10px;
  display: inline-block;
}

.user-item span {
  font-size: 1rem;
  color: #000;
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
}

.user-item i {
  color: var(--accent-color);
  margin-left: 5px;
}

.user-item br {
  margin-bottom: 10px;
}

/* Botão link DENTRO DAS CONFIGURAÇAO */
.link-button {
  display: inline-block;
  background-color: transparent;
  border: 3px solid var(--accent-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}


/* Ocultar barra de rolagem WebKit no modal */
.modal-content::-webkit-scrollbar {
  display: none;
}

/* Garante rolagem mas oculta scrollbar */
.modal-content {
  -ms-overflow-style: none;
  overflow-y: scroll;
}







/* Modal VALIDAÇAO DRONE PREMIUM  */
.modalbci {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.modalbci-content {
    background-color: #fff;
    padding: 20px;
    
    text-align: center;
   
   
    color: #000;
    z-index: 999999;
    max-width: 400px;
    width: 90%;
}

.modalbci input {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border: 2px solid #000;
    background-color: #ffffff10;
    color: #000;
    
    
}



.modalbci button {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background: #00aaff;
    
    color: #ffffff;
   
    border-radius: 6px;
    
}

.modalbci button:hover {
    background-color: rgb(24, 226, 233);
   
}


/* IMAGEM CABEÇALHO */
.fixed-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw; /* Ocupa 100% da largura da janela */
       
        z-index: 99; /* Fica ACIMA de outros elementos */
    }

    .fixed-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ajusta a imagem para cobrir toda a tela sem distorção */
		z-index: 5; /* Fica ACIMA de outros elementos */
    }

    .content {
        position: relative;
        z-index: 1; /* Garante que o texto fique acima da imagem */
        color: white;
        text-align: center;
        padding: 20px;
        
    }




    /* BUSCA POR CI */
    
#resultado {
  position: fixed;
    font-size: 18px;
  top: 110px;
  left: 250px;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  padding: 10px;
  
  overflow-y: auto;
  display: none;
  z-index: 999999;
  color:#000; /* Texto dos resultados */
}


table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  background-color: #dddddd;
}

th, td {
  border: 1px solid #000000;
  padding: 9px;
  text-align: left;
}

th {
  background-color: #0000008e;
  color: #ffffff; /* Cabeçalho da tabela */
}

tr:nth-child(even) {
  background-color: #cccaca;
}

.close-btn {
  font-size: 19px;
  color: #000000;
  cursor: pointer;
  background-color: #ff4545;
  width: 38px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7px;
  right: 5px;

}

.close-btn:hover {
  background-color: #ff0000;
  outline: 2px solid #000;

}


.close-btnv {
  font-size: 24px;
  color: var(--text-color);
  cursor: pointer;
  background-color: #00000065;
  width: 60px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid  var(--highlight-color);
  position: absolute;
  top: 7px;
  right: 9999999px;
  
 
}
